<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>social.entourage.entourageios</key>
	<dict>
		<key>ApiKey</key>
		<string>a88f0ed50d8d1e7cd3a2420d</string>
	</dict>
	<key>social.entourage.entourageios.beta</key>
	<dict>
		<key>ApiKey</key>
		<string>a88f0ed50d8d1e7cd3a2420d</string>
	</dict>
	<key>social.entourage.entourageios.pfp</key>
	<dict>
		<key>ApiKey</key>
		<string>a5b68de05b21e31af6a3d094</string>
	</dict>
	<key>social.entourage.entourageios.pfp.beta</key>
	<dict>
		<key>ApiKey</key>
		<string>a5b68de05b21e31af6a3d094</string>
	</dict>
</dict>
</plist>
