<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>social.entourage.entourageios</key>
	<dict>
		<key>ApiKey</key>
		<string>ef710742275081847aa848ea</string>
	</dict>
	<key>social.entourage.entourageios.beta</key>
	<dict>
		<key>ApiKey</key>
		<string>ef710742275081847aa848ea</string>
	</dict>
	<key>social.entourage.entourageios.pfp</key>
	<dict>
		<key>ApiKey</key>
		<string>e94eceafb5beaddc4f384925</string>
	</dict>
	<key>social.entourage.entourageios.pfp.beta</key>
	<dict>
		<key>ApiKey</key>
		<string>e94eceafb5beaddc4f384925</string>
	</dict>
</dict>
</plist>
