<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>social.entourage.entourageios</key>
	<dict>
		<key>ApiKey</key>
		<string>df90bc36321c874aa5a66795</string>
	</dict>
	<key>social.entourage.entourageios.beta</key>
	<dict>
		<key>ApiKey</key>
		<string>df90bc36321c874aa5a66795</string>
	</dict>
	<key>social.entourage.entourageios.pfp</key>
	<dict>
		<key>ApiKey</key>
		<string>dee6d662ff91b0b4d1412d1f</string>
	</dict>
	<key>social.entourage.entourageios.pfp.beta</key>
	<dict>
		<key>ApiKey</key>
		<string>dee6d662ff91b0b4d1412d1f</string>
	</dict>
</dict>
</plist>
