<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AmazonPictureFolder</key>
	<string>staging/300x300/</string>
	<key>ApiBaseUrl</key>
	<string>https://entourage-back-preprod.herokuapp.com/api/v1/</string>
	<key>ApiKey</key>
	<string>7d02a340c88e851bc87097a3</string>
</dict>
</plist>
