<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AmazonPictureFolder</key>
	<string>staging/300x300/</string>
	<key>ApiBaseUrl</key>
	<string>https://entourage-back-preprod.herokuapp.com/api/v1/</string>
	<key>ApiKey</key>
	<string>c8ebfe97c93c4135f512f330</string>
	<key>FlurryAPIKey</key>
	<string>B7KH4H9T4HCY5PCR5P45</string>
	<key>NuanceHostAddress</key>
	<string>sslsandbox.nmdp.nuancemobility.net</string>
	<key>NuanceAppId</key>
	<string>NMDPTRIAL_francois_entourage_social20160104052924</string>
</dict>
</plist>
