<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1085027645289-0tducqs9dvo1ft5u465n8t3gug1aqi23.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1085027645289-0tducqs9dvo1ft5u465n8t3gug1aqi23</string>
	<key>API_KEY</key>
	<string>AIzaSyCuiupkBIp2AU7GCmhsZqEsZA3EhghBs0g</string>
	<key>GCM_SENDER_ID</key>
	<string>1085027645289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>social.entourage.pfpios</string>
	<key>PROJECT_ID</key>
	<string>entourage-90011</string>
	<key>STORAGE_BUCKET</key>
	<string>entourage-90011.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085027645289:ios:c28efe6f76295f02</string>
	<key>DATABASE_URL</key>
	<string>https://entourage-90011.firebaseio.com</string>
</dict>
</plist>