<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1085027645289-42otkketnp5ha26miutp5tjbndqdjais.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1085027645289-42otkketnp5ha26miutp5tjbndqdjais</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1085027645289-9rol5leuemfk2ntal17tog0n4aacncu6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAmdAy_MROSCFeEnfY0DdOVsw6PajlBF1U</string>
	<key>GCM_SENDER_ID</key>
	<string>1085027645289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>social.entourage.entourageios.pfp</string>
	<key>PROJECT_ID</key>
	<string>entourage-90011</string>
	<key>STORAGE_BUCKET</key>
	<string>entourage-90011.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085027645289:ios:7c32e5d3cb586089</string>
	<key>DATABASE_URL</key>
	<string>https://entourage-90011.firebaseio.com</string>
</dict>
</plist>